.sections {
  background-color: rgb(0,200,157);
  height: 100px;  
  border-radius: 5px;
  border: 1px solid #000;
  height: 40px;
}

.name h1 {
  text-align: center;
  margin: auto;
  font-weight: 900;
}

.description-photo {
  margin: 10px 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description-photo div {
  display: inline-block;  
}

.divDescription {
  margin-left: 50px;
}

img.myPicture {
  border-radius: 10%;
  width: 250px;
}

.sections h2 {
  margin-top: 6px;
  margin-left: 35px;
  font-weight: 900;
}

.emojiTrybe {
  width: 25px;  
}

.ufpbPicture {
  width: 60px;  
  height: 40px;
}

.esabPicture {
  width: 60px;
  height: 30px;
}

.fipPicture {
  width: 60px;
  height: 35px;
}

/*
img.seta {
  width: 170px;
  position: absolute; 
  top: 90px;
  left: 400px;
}
*/

.life {
  border: 2px solid #000;
  border-radius: 5px;
  width: 300px;
  height: 16px;
}

.life div {
  background-color: rgb(51,234,166);
  height: 16px;
}

.lifeJavaScript {
  width: 100px;  
}

.lifeHtml {
  width: 50px;  
}

.lifeCss {
  width: 40px;
}

.lifeBD {
  width: 150px;  
}

.lifeLinux {
  width: 180px;
}

.lifeGit {
  width: 100px;  
}
/*
div.menu {
  position: absolute;
  top: 30px;
  left: 570px;
  width: 300px;
  height: 200px;
}
*/

p {
  font-size: 16pt;
  line-height: 10px;
}

ul {
  font-family: cursive, sans-serif;
  font-size: 14pt;
  line-height: 35px;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: 35px;
  font-weight: 530;
}

a {
  color: rgb(85, 26, 139);
  text-decoration-line: none;
  line-height: 35px;
  font-weight: 700;
}

a:hover {
  background-color: yellow;
}