body {
  background-color: #2b2c31;
}

.sections {
  background-color: #121213;
  border-radius: 5px;
}

.name {
  height: 120px;
}

.name h1 {
  text-align: center;
  margin: auto;
  font-weight: 900;
  font-size: 30pt;
  padding-top: 15px;  
}

.menu {
  text-align-last: center;  
}

.menu ul li {
  display: inline-block;
  font-size: 13pt;  
  margin-right: 20px;
  padding-top: 10px;
}

.description-photo {
  margin: 10px 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description-photo div {
  display: inline-block;  
}

.divDescription {
  margin-left: 50px;
}

h1, h2 {
  color: #ebd7a5;
}

.myPicture {
  border-radius: 10%;
  width: 250px;
}

.sections h2 {
  padding-top: 7px;
  margin-left: 35px;
  font-weight: 900;
}

.emojiTrybe {
  width: 25px;  
}

.ufpbPicture {
  width: 60px;  
  height: 40px;
}

.esabPicture {
  width: 60px;
  height: 30px;
}

.fipPicture {
  width: 80px;
  height: 30px;
}

.life {
  border: 2px solid #000;
  border-radius: 5px;
  width: 300px;
  height: 16px;
}

.life div {
  background-color: #121213;
  height: 16px;
}

.lifeJavaScript {
  width: 100px;  
}

.lifeHtml {
  width: 50px;  
}

.lifeCss {
  width: 40px;
}

.lifeBD {
  width: 150px;  
}

.lifeLinux {
  width: 180px;
}

.lifeGit {
  width: 100px;  
}

p {
  color: #ebd7a5;
  font-size: 16pt;
  line-height: 10px;
}

ul {
  color: #ebd7a5;
  font-family: cursive, sans-serif;
  font-size: 14pt;
  line-height: 35px;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: 35px;
  font-weight: 530;
}

a {
  text-decoration-line: none;
  line-height: 35px;
  font-weight: 700;
  color: #ebd7a5;
}

a:hover {
  background-color: #808080;
}

.topo a {
  border: 2px solid #ebd7a5;
  margin-left: 50%;
  font-size: 20pt;
  padding: 5px;
}