.div-contacts {
  background-color: #121213;
  border-radius: 5px;
  height: auto;
}

p {
  color: #ebd7a5;
  font-size: 16pt;
  line-height: 10px;
  text-decoration-line: none;
  line-height: 35px;
  font-weight: 700;
}